.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.page.header {
  padding: 2em 0em 0em 0em;
}

.no-mar {
  margin: 0px !important
}

.no-mar-top {
  margin-top: 0px !important
}

.no-mar-bot {
  margin-bottom: 0px !important
}

.no-pad {
  padding: 0px !important
}

.no-pad-vert {
  padding-top: 0px !important;
  padding-bottom: 0px !important
}

.no-pad-top {
  padding-top: 0px !important
}

.no-pad-bot {
  padding-bottom: 0px !important
}

$CODE_WIDTH: 35vw;
$MAIN_WIDTH: 100vw - $CODE_WIDTH;

.main.container {
  overflow: auto;
  height: 99vh;

  &.code-view {
    max-width: $MAIN_WIDTH !important;
    margin: inherit !important;
  }
}

.code-view.sidebar {
  width: $CODE_WIDTH !important;
}
